Source: peppermint-system
Section: admin
Priority: optional
Maintainer: Kendall Weaver <kendall@peppermintos.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: peppermint-system
Architecture: all
Depends: mint-common, axel
Description: Peppermint OS System Base Package
 Used by the desktop and other mint tools to gather information and process common system tasks.
