[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=gksu amdcccle
Categories=GNOME;KDE;GTK;Qt;HardwareSettings;Settings;
Icon=ccc_large

Name=ATI Catalyst Control Center (Administrative)
Comment=Allows the configuration of the ATI graphics hardware settings that requires administrative access.
Name[cs]=ATI Catalyst Control Center (správce)
Comment[cs]=Slouží ke konfiguraci nastavení grafického hardwaru ATI vyžadujících oprávnění správce.
Name[da]=ATI Catalyst Control Center (Administrativ)
Comment[da]=Muliggør konfiguration af ATI-grafikkens hardwareindstillinger, der kræver administrativ adgang.
Name[de]=ATI Catalyst Control Center (Administrativ)
Comment[de]=Ermöglicht die Konfiguration der ATI-Grafikhardwareeinstellungen, die administrativen Zugriff erfordern.
Name[el]=ATI Catalyst Control Center (Λειτ. διαχειριστή)
Comment[el]=Επιτρέπει τη ρύθμιση παραμέτρων των ρυθμίσεων υλικού γραφικών ATI που απαιτούν πρόσβαση από διαχειριστή.
Name[es]=ATI Catalyst Control Center (Administrativo)
Comment[es]=Permite la configuración del hardware de gráficos ATI que requiere acceso administrativo.
Name[fi]=ATI Catalyst Control Center (Järjestelmänvalvoja)
Comment[fi]=Sallii ATI-grafiikkalaitteiston järjestelmänvalvojan oikeuksia vaativien asetusten määrittämisen.
Name[fr]=ATI Catalyst Control Center (Administrateur)
Comment[fr]=Permet la configuration des paramètres matériels des graphiques ATI qui exigent des droits d'administration.
Name[hu]=ATI Catalyst Control Center (Adminisztrátori)
Comment[hu]=Az olyan ATI grafikus hardverbeállítások konfigurálását teszi lehetővé, amelyekhez adminisztrátori hozzáférés szükséges.
Name[it]=ATI Catalyst Control Center (Amministratore)
Comment[it]=Consente la configurazione delle impostazioni hardware grafico ATI che richiede l'accesso amministratore.
Name[ja]=ATI Catalyst Control Center（管理者モード）
Comment[ja]=管理者アクセスが必要な ATI グラフィック ハードウェア設定の構成を可能にする。
Name[ko]=ATI Catalyst Control Center (관리)
Comment[ko]=관리자 액세스 권한이 필요한 ATI 그래픽 하드웨어 설정에 대한 구성을 허용합니다.
Name[nl]=ATI Catalyst Control Center (Beheer)
Comment[nl]=Hiermee kunt u de grafische ATI-hardware-instellingen configureren waarvoor administrator/beheerdersrechten noodzakelijk zijn.
Name[no]=ATI Catalyst Control Center (Administrativ)
Comment[no]=Gjør det mulig å konfigurere ATIs grafikkmaskinvareinnstillinger som krever administratortilgang.
Name[pl]=ATI Catalyst Control Center (administracyjne)
Comment[pl]=Umożliwia konfigurowanie ustawień sprzętu graficznego firmy ATI w trybie administratora.
Name[pt_BR]=ATI Catalyst Control Center (Administrativo)
Comment[pt_BR]=Permite a definição das configurações de hardware gráfico da ATI que requerem acesso adminstrativo.
Name[ru]=ATI Catalyst Control Center (для Администратора)
Comment[ru]=Позволяет задать параметры аппаратного обеспечения графики ATI, требующие владения правами администратора.
Name[sv]=ATI Catalyst Control Center (Administrativt)
Comment[sv]=Möjliggör konfiguration av inställningar för ATI-grafikmaskinvara som kräver administrativ åtkomst.
Name[th]=ATI Catalyst Control Center (สิทธิ์ผู้ดูแลระบบ)
Comment[th]=ยอมให้ตั้งค่าฮาร์ดแวร์กราฟิก ATI ที่ต้องใช้สิทธิ์ของผู้ดูแลระบบ
Name[tr]=ATI Catalyst Control Center (Yönetici)
Comment[tr]=Yönetici erişimi gerektiren ATI grafik donanım ayarlarının yapılandırılmasına olanak sağlar.
Name[zh_CN]=ATI Catalyst Control Center（管理）
Comment[zh_CN]=允许配置需要管理权限才能访问的 ATI 图形硬件设置。
Name[zh_TW]=ATI Catalyst Control Center (管理)
Comment[zh_TW]=允許設定需要管理員權限的 ATI 圖形硬體設定。
