[Desktop Entry]
Version=1.0
Type=Application
Name=File Search
Name[af]=Lêer Soek
Name[ar]=ملف البح
Name[bg]=Търсачка
Name[ca]=Cerca d'arxius
Name[cs]=Hledání souborů
Name[da]=Filsøgning
Name[de]=File Search
Name[el]=Αναζήτηση αρχείων
Name[es]=Buscar archivo
Name[et]=Pilt Otsing
Name[eu]=Fitxategi Search
Name[fa]=جستجوی فای
Name[fr]=Recherche de fichiers
Name[gl]=Procurar Arquivo
Name[he]=חיפוש קבצים
Name[hr]=Datoteka Traži
Name[id]=Cari file
Name[ja]=ファイル検索
Name[ko]=파일 검색
Name[lt]=Failų paieška
Name[lv]=Failu meklēšana
Name[ms]=Cari fail
Name[nb]=File Søk
Name[nn]=File Søk
Name[no]=Fil søk
Name[pl]=Wyszukiwarka plików
Name[pt]=Pesquisar Arquivo
Name[ru]=Поиск файлов
Name[sk]=Hľadanie súborov
Name[sr]=Филе Сеарцх
Name[sv]=Filsökning
Name[tg]=Paghanap ng files
Name[uk]=Пошук файлів
Name[vi]=Tập tin tìm kiếm
Name[zh_CN]=文件搜索
Name[zh_TW]=文件搜索
Comment=Search the file system
Comment[bg]=Търсене във файловата система
Comment[ca]=Cerca en el sistema de fitxers
Comment[de]=Dateisystem durchsuchen
Comment[en_AU]=Search the file system
Comment[es]=Buscar en el sistema de archivos
Comment[fi]=Hae tiedostojärjestelmästä
Comment[fr]=Rechercher dans le système de fichiers
Comment[hu]=Keresés a fájlrendszerben
Comment[id]=Cari berkas-berkas sistem
Comment[it]=Cerca nel file system
Comment[ja]=ファイルシステムを検索
Comment[ko]=파일 시스템 검색
Comment[lv]=Meklēt datņu sistēmā
Comment[nl]=Doorzoek het bestandssysteem
Comment[pl]=Przeszukuje zawartość systemu plików
Comment[pt]=Pesquisar o sistema de ficheiros
Comment[pt_BR]=Pesquisar no sistema de arquivos
Comment[ru]=Поиск по файловой системе
Comment[sk]=Hľadať v súborovom systéme
Comment[sr]=Претрага система датотека
Comment[tr]=Dosya sistemini ara
Comment[zh_TW]=搜尋檔案系統
Categories=GTK;Utility;Filesystem;
Exec=catfish
Icon=catfish
Terminal=false
StartupNotify=true
