[Desktop Entry]
Version=1.0
Name=Calculator
Name[af]=Sakrekenaar
Name[ar]=آلة حاسب
Name[bg]=Калкулатор
Name[ca]=Calculadora
Name[cs]=Kalkulačka
Name[da]=Lommeregner
Name[de]=Rechner
Name[el]=Υπολογιστής
Name[es]=Calculadora
Name[et]=Kalkulaator
Name[eu]=Kalkulagailua
Name[fa]=حسابگ
Name[fi]=Laskin
Name[fr]=Calculatrice
Name[gl]=Calculadora
Name[he]=מחשבון
Name[hr]=Kalkulator
Name[hu]=Számológép
Name[id]=Kalkulator
Name[it]=Calcolatore
Name[ja]=電卓
Name[ko]=계산기
Name[lt]=Skaičiuoklė
Name[lv]=Kalkulators
Name[ms]=Kalkulator
Name[nb]=Kalkulator
Name[nl]=Calculator
Name[nn]=Kalkulator
Name[no]=Kalkulator
Name[pl]=Kalkulator
Name[pt]=Calculadora
Name[ro]=Calculator
Name[ru]=Калькулятор
Name[sk]=Kalkulačka
Name[sl]=Kalkulator
Name[sr]=Цалцулатор
Name[sv]=Kalkylator
Name[tg]=Kalkulator
Name[th]=เครื่องคิดเลข
Name[tr]=Hesap makinesi
Name[uk]=Калькулятор
Name[vi]=Máy tính
Name[zh_CN]=计算器
Name[zh_TW]=計算器
Comment=Perform simple and scientific calculations
Comment[da_DK]=Udfør simple og videnskabelige bereginiger
Comment[de]=Ausführen von einfachen und wissenschaftlichen Berechnungen
Comment[es]=Realizar cálculos sencillos y científicos
Comment[hu]=Egyszerű és tudományos számítások
Comment[ja]=単純な科学計算を実行します
Comment[kk_KZ]=Қарапайым және инженерлік санауларға арналған
Comment[lt]=Atlikite paprastus ir mokslinius skaičiavimus
Comment[pl]=Wykonaj proste lub naukowe obliczenia
Comment[pt]=Executa cálculos simples e científicos
Comment[pt_BR]=Executa cálculos simples e científicos
Comment[sk]=Kalkulačka na jednoduché i vedecké výpočty
Comment[sv]=Genomför enkla och vetenskapliga beräkningar
Comment[tr]=Basit ve bilimsel hesaplamalar gerçekleştir
Comment[zh_TW]=進行簡單和科學的計算
Exec=galculator
Icon=galculator
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=true
X-Ubuntu-Gettext-Domain=galculator
