[Desktop Entry]
Version=1.0
Name=Text Editor
Name[af]=Teks Redakteur
Name[ar]=نص محر
Name[bg]=Текстов редактор
Name[ca]=Editor de text
Name[cs]=Text Editor
Name[da]=Text Editor
Name[de]=Text-Editor
Name[el]=Text Editor
Name[es]=Editor de texto
Name[et]=Tekstiredaktor
Name[eu]=Testu-editorea
Name[fa]=ویرایشگر مت
Name[fi]=Tekstieditori
Name[fr]=Éditeur de texte
Name[gl]=Editor de texto
Name[he]=עורך טקסט
Name[hr]=Uređivač teksta
Name[hu]=Szövegszerkesztő
Name[id]=Teks Editor
Name[it]=Editor di testo
Name[ja]=テキストエディタ
Name[ko]=텍스트 편집기
Name[lt]=Teksto redaktorius
Name[lv]=Teksta redaktors
Name[ms]=Text Editor
Name[nb]=Tekst Editor
Name[nl]=Text Editor
Name[nn]=Tekst Editor
Name[no]=Tekstredigeringsprogram
Name[pl]=Edytor tekstu
Name[pt]=Editor de Texto
Name[ro]=Editor de text
Name[ru]=Текстовый редактор
Name[sk]=Text Editor
Name[sl]=Text Editor
Name[sr]=Текст едитор
Name[sv]=Textredigeraren
Name[tg]=i-edit ang text
Name[th]=แก้ไขข้อความ
Name[tr]=Metin Editörü
Name[uk]=Текст Редактор
Name[vi]=Text Editor
Name[zh_CN]=文本编辑器
Name[zh_TW]=文本編輯器
Comment=Edit text files
Exec=gedit %U
Terminal=false
Type=Application
StartupNotify=true
MimeType=text/plain;
Icon=accessories-text-editor
Categories=GNOME;GTK;Utility;TextEditor;
X-GNOME-DocPath=gedit/gedit.xml
X-GNOME-FullName=Text Editor
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gedit
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=3.10.4
X-GNOME-Bugzilla-ExtraInfoScript=/usr/share/gedit/gedit-bugreport
X-Ubuntu-Gettext-Domain=gedit
