[Desktop Entry]
Name=Keyboard Layout
Name[af]=Sleutelbord-instellings
Name[ar]=إعدادات لوحة المفاتي
Name[bg]=Настройките на клавиатурата
Name[ca]=Configuració del teclat
Name[cs]=Nastavení klávesnice
Name[da]=Tastaturindstillinger
Name[de]=Keyboard-Einstellungen
Name[el]=Ρυθμίσεις πληκτρολογίου
Name[es]=Configuración del teclado
Name[et]=Klaviatuuriseadistused
Name[eu]=Teklatuaren ezarpenak
Name[fa]=تنظیمات صفحه کلی
Name[fi]=Näppäimistön asetukset
Name[fr]=Langue du clavier
Name[gl]=Configuración do Teclado
Name[he]=הגדרות מקשים
Name[hr]=Tipkovnica Postavke
Name[hu]=Billentyűzet beállítások
Name[id]=Susunan Keyboard
Name[it]=Impostazioni della tastiera
Name[ja]=キーボードの設定
Name[ko]=키보드 설정
Name[lt]=Klaviatūros Nustatymai
Name[lv]=Klaviatūras izkārtojums
Name[ms]=Tetapan keyboard
Name[nb]=Keyboard Innstillinger
Name[nl]=Instellingen van het keyboard
Name[nn]=Keyboard Innstillinger
Name[no]=Tastaturlayout
Name[pl]=Ustawienia klawiatury
Name[pt]=Configuração do Teclado
Name[ro]=Tastatură Setări
Name[ru]=Раскладка клавиатуры
Name[sk]=Nastavenie klávesnice
Name[sl]=Keyboard Nastavitve
Name[sr]=Подешавања тастатуре
Name[sv]=Tangentbordsinställningar
Name[tg]=Layout ng tipaan
Name[th]=ตั้งค่าแป้นพิมพ์
Name[tr]=Klavye Ayarları
Name[uk]=Параметри клавіатури
Name[vi]=Cài đặt bàn phím
Name[zh_CN]=键盘设置
Name[zh_TW]=鍵盤設置
Comment=Select your keyboard layout.
Categories=Settings;
Exec=lxkeymap
Icon=/usr/share/lxkeymap/media/icon.png
Terminal=false
Type=Application
NoDisplay=true
