[Desktop Entry]
Name=Image Viewer
Name[af]=Beeldbekyker
Name[ar]=عارض الصور
Name[bg]=Изобразител
Name[bn]=ছবি প্রদর্শক
Name[bn_IN]=ইমেজ প্রদর্শক
Name[ca]=Visualitzador d'imatges
Name[cs]=Prohlížeč obrázků
Name[da]=Billedfremviser
Name[de]=Bildbetrachter
Name[el]=Προβολή εικόνων
Name[es]=Visor de imágenes
Name[es_VE]=Visor de imágenes
Name[et]=Pildivaatur
Name[eu]=Irudi ikustailea
Name[fa]=نمایشگر تصویر
Name[fi]=Kuvankatselin
Name[fr]=Visionneur d'images
Name[frp]=Afichór d'imajes
Name[gl]=Visor de imaxe
Name[he]=מציג התמונות
Name[hr]=Preglednik Slika
Name[hu]=Képmegjelenítő
Name[id]=Penampil Citra
Name[it]=Visualizzatore di immagini
Name[ja]=イメージビューワ
Name[lt]=Paveikslėlių peržiūros programa
Name[ms]=Pemapar Imej
Name[nb]=Bildevisning
Name[nl]=Afbeeldingkijker
Name[nn]=Biletvisar
Name[pl]=Przeglądarka obrazów
Name[pt]=Visualizador de imagens
Name[pt_BR]=Visualizador de imagens
Name[ru]=Просмотр изображений
Name[sk]=Prehliadač obrázkov
Name[sl]=Pregledovalnik slik
Name[sr]=Прегледач слика
Name[sv]=Bildvisare
Name[th]=ตัวดูภาพ
Name[tr]=Resim Görüntüleyici
Name[uk]=Переглядач зображень GPicview
Name[ur]=تصاویر منظرکار
Name[ur_PK]=تصاویر منظرکار
Name[vi]=Ứng dụng xem ảnh
Name[zh_CN]=图像查看器
Name[zh_TW]=圖片檢視器
GenericName=Image Viewer
GenericName[af]=Beeldbekyker
GenericName[ar]=عارض الصور
GenericName[bg]=Изобразител
GenericName[bn]=ছবি প্রদর্শক
GenericName[bn_IN]=ইমেজ প্রদর্শক
GenericName[ca]=Visualitzador d'imatges
GenericName[cs]=Prohlížeč obrázků
GenericName[da]=Billedfremviser
GenericName[de]=Bildbetrachter
GenericName[el]=Προβολή εικόνων
GenericName[es]=Visor de imágenes
GenericName[es_VE]=Visor de imágenes
GenericName[et]=Pildivaatur
GenericName[eu]=Irudi ikustailea
GenericName[fa]=نمایشگر تصویر
GenericName[fi]=Kuvankatselin
GenericName[fr]=Visionneur d'images
GenericName[frp]=Afichór d'imajes
GenericName[gl]=Visor de imaxe
GenericName[he]=מציג התמונות
GenericName[hr]=Preglednik Slika
GenericName[hu]=Képmegjelenítő
GenericName[id]=Penampil Citra
GenericName[it]=Visualizzatore di immagini
GenericName[ja]=イメージビューワ
GenericName[lt]=Paveikslėlių peržiūros programa
GenericName[ms]=Pemapar Imej
GenericName[nb]=Bildevisning
GenericName[nl]=Afbeeldingkijker
GenericName[nn]=Biletvisar
GenericName[pl]=Przeglądarka obrazów
GenericName[pt]=Visualizador de imagens
GenericName[pt_BR]=Visualizador de imagens
GenericName[ru]=Просмотр изображений
GenericName[sk]=Prehliadač obrázkov
GenericName[sl]=Pregledovalnik slik
GenericName[sr]=Прегледач слика
GenericName[sv]=Bildvisare
GenericName[th]=ตัวดูภาพ
GenericName[tr]=Resim Görüntüleyici
GenericName[uk]=Переглядач зображень GPicview
GenericName[ur]=تصاویر منظرکار
GenericName[ur_PK]=تصاویر منظرکار
GenericName[vi]=Ứng dụng xem ảnh
GenericName[zh_CN]=图像查看器
GenericName[zh_TW]=圖片檢視器Comment=A fast GTK+ Image Viewer
Exec=mirage %f
Terminal=false
Type=Application
Icon=mirage
Categories=GTK;Graphics;2DGraphics;Viewer;
MimeType=image/bmp;image/gif;image/jpeg;image/jpg;image/pjpeg;image/png;image/tiff;image/x-bmp;image/x-pcx;image/x-png;image/x-portable-anymap;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-sun-raster;image/x-tga;image/x-xbitmap;image/x-xpixmap;image/svg+xml;
