[Desktop Entry]
Name=Network Connections
Name[ar]=الاتصالات الشبكية
Name[as]=নে'টৱৰ্ক সংযোগসমূহ
Name[be]=Сеткавыя далучэньні
Name[be@latin]=Sietkavyja spałučeńni
Name[bg]=Мрежови връзки
Name[bn_IN]=নেটওয়ার্ক সংযোগ
Name[ca]=Connexions de xarxa
Name[ca@valencia]=Connexions de xarxa
Name[crh]=Şebeke Bağlantıları
Name[cs]=Připojení k síti
Name[da]=Netværksforbindelser
Name[de]=Netzwerkverbindungen
Name[el]=Συνδέσεις δικτύου
Name[en_GB]=Network Connections
Name[eo]=Retkonektoj
Name[es]=Conexiones de red
Name[et]=Võrguühendused
Name[eu]=Sareko konexioak
Name[fi]=Verkkoyhteydet
Name[fr]=Connexions réseau
Name[gl]=Conexións de rede
Name[gu]=નેટવર્ક જોડાણો
Name[he]=חיבורי רשת
Name[hi]=संजाल कनेक्शन
Name[hu]=Hálózati kapcsolatok
Name[id]=Sambungan Jaringan
Name[it]=Connessioni di rete
Name[ja]=ネットワーク接続
Name[kn]=ಜಾಲಬಂಧ ಸಂಪರ್ಕಗಳು
Name[ko]=네트워크 연결
Name[lt]=Tinklo ryšiai
Name[lv]=Tīkla savienojumi
Name[mk]=Мрежни врски
Name[ml]=നെറ്റ്‌വര്‍ക്ക് കണക്ഷനുകള്‍
Name[mr]=नेटवर्क जोडणी
Name[nb]=Nettverkstilkoblinger
Name[nl]=Netwerkverbindingen
Name[nn]=Nettverkstilkoplingar
Name[oc]=Connexions ret
Name[or]=ନେଟୱର୍କ ସଂଯୋଗଗୁଡ଼ିକ
Name[pa]=ਨੈੱਟਵਰਕ ਕੁਨੈਕਸ਼ਨ
Name[pl]=Połączenia sieciowe
Name[pt]=Ligações de Rede
Name[pt_BR]=Conexões de rede
Name[ro]=Conexiuni de rețea
Name[ru]=Сетевые соединения
Name[sk]=Sieťové spojenia
Name[sl]=Omrežne povezave
Name[sr]=Везе са мрежом
Name[sr@latin]=Veze sa mrežom
Name[sv]=Nätverksanslutningar
Name[ta]=பிணைய இணைப்புகள்
Name[te]=నెట్వర్కు అనుసంధానములు
Name[tr]=Ağ Bağlantıları
Name[uk]=Мережні з'єднання
Name[ur]=نیٹ ورک اتصال
Name[zh_CN]=网络连接
Name[zh_HK]=網絡連線
Name[zh_TW]=網路連線
Comment=Manage and change your network connection settings
Comment[ar]=أدِر وغيّر إعدادات الاتصالات الشبكية
Comment[as]=আপোনাৰ নে'টৱৰ্ক সংযোগক পৰিচালন আৰু সলনি কৰক
Comment[be]=Кіраваць і зьмяняць настаўленьні сеткавых далучэньняў
Comment[be@latin]=Kiruj i źmianiaj nałady sietkavych spałučeńniaŭ
Comment[bg]=Управление и промяна на настройките на вашата мрежа
Comment[bn_IN]=আপনার নেটওয়ার্ক সংযোগ বৈশিষ্ট্য সম্পাদন ও পরিবর্তন করুন
Comment[ca]=Gestioneu i modifiqueu els paràmetres de connexió a la xarxa
Comment[ca@valencia]=Gestioneu i modifiqueu els paràmetres de connexió a la xarxa
Comment[crh]=Şebeke bağlantısı tesbitleriñizni idare etiñiz ve değiştiriñiz
Comment[cs]=Spravovat a měnit nastavení připojení k síti
Comment[da]=Rediger og ændr dine indstillinger til netværksforbindelser
Comment[de]=Einstellungen für Verbindungen mit Netzwerken verwalten
Comment[el]=Διαχείριση και αλλαγή ρυθμίσεων των συνδέσεων δικτύου
Comment[eo]=Administri kaj ŝanĝi viajn retkonektajn agordojn
Comment[es]=Gestione y cambie sus ajustes de la conexión de red
Comment[et]=Võrguühenduse sätete haldus
Comment[eu]=Kudeatu eta aldatu sareko konexioen ezarpenak
Comment[fi]=Hallitse ja muuta verkkoyhteyksien asetuksia
Comment[fr]=Gérer et modifier les paramètres des connexions réseau
Comment[gl]=Xestione e cambie as súas configuracións de conexión de rede
Comment[gu]=તમારા નેટવર્ક જોડાણ સુયોજનોને બદલો અને સંચાલિત કરો
Comment[he]=ניהול ושינוי הגדרות חיבורי הרשת שלך
Comment[hi]=अपना संजाल कनेक्शन सेटिंग प्रबंधित करें और बदलें
Comment[hu]=Hálózati kapcsolatok beállításainak kezelése és módosítása
Comment[id]=Kelola dan ubah tatanan sambungan jaringan Anda
Comment[it]=Gestisce e cambia le impostazioni della connessione di rete
Comment[ja]=ネットワーク接続セッティングの管理と変更
Comment[kn]=ನಿಮ್ಮ ಜಾಲಬಂಧ ಸಂಪರ್ಕಗಳನ್ನು ನಿರ್ವಹಿಸಿ ಹಾಗು ಬದಲಾಯಿಸಿ
Comment[ko]=여러분의 네트워크 연결 설정을 관리하고 변경합니다.
Comment[lt]=Tvarkykite ir keiskite savo tinklo ryšių parametrus
Comment[lv]=Pārvaldiet un mainiet tīkla savienojumu iestatījumus
Comment[ml]=നിങ്ങളുടെ നെറ്റ്‌വര്‍ക്ക് കണക്ഷന്‍ സജ്ജീകരണങ്ങള്‍ കൈകാര്യം ചെയ്യുകയും മാറ്റങ്ങള്‍ വരുത്തുകയും ചെയ്യുക.
Comment[mr]=नेटवर्क संयोजना व्यवस्थापीत करा व बदला
Comment[nb]=Håndter og endre innstillinger for nettverksforbindelser
Comment[nn]=Handter og endra innstillingar for nettverkstilkopling
Comment[or]=ଆପଣଙ୍କର ନେଟୱର୍କ ସଂଯୋଗ ସଂରଚନାକୁ ପରିଚାଳନା କରନ୍ତୁ ଏବଂ ପରିବର୍ତ୍ତନ କରନ୍ତୁ
Comment[pa]=ਆਪਣੀ ਨੈੱਟਵਰਕ ਕੁਨੈਕਸ਼ਨ ਸੈਟਿੰਗ ਦਾ ਪਰਬੰਧ ਕਰੋ ਅਤੇ ਬਦਲੋ
Comment[pl]=Zarządzanie ustawieniami połączeń sieciowych
Comment[pt]=Gerir e alterar as suas definições da ligação de rede
Comment[pt_BR]=Gerencie e altere suas configurações de conexão de rede
Comment[ro]=Administrați și modificați opțiunile conexiunilor de rețea
Comment[ru]=Управление параметрами сетевых соединений
Comment[sl]=Upravljajte in spreminjajte nastavitve omrežne povezave
Comment[sr]=Управљајте и измените подешавања ваших мрежних веза
Comment[sr@latin]=Upravljajte i izmenite podešavanja vaših mrežnih veza
Comment[sv]=Hantera och ändra inställningar för dina nätverksanslutningar
Comment[ta]=உங்களின் பிணைய இணைப்பு அமைவுகளை மேலாண்மை மற்றும் மாற்றவும்
Comment[te]=మీ నెట్వర్కు అనుసంధానము అమర్పులను నిర్వహించండి మరియు మార్చండి
Comment[tr]=Ağ bağlantı ayarlarını yönetin ve değiştirin
Comment[uk]=Керування параметрами мережних з'єднань
Comment[ur]=اپنے نیٹ ورک اتصال کی تبدیلی اور ادارت کریں
Comment[zh_CN]=管理或更改您的网络连接设置
Comment[zh_HK]=管理與更改你的連線設定值
Comment[zh_TW]=管理與變更您的連線設定值
Icon=preferences-system-network
Exec=nm-connection-editor
Terminal=false
StartupNotify=true
Type=Application
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=NetworkManager
X-GNOME-Bugzilla-Component=general
Categories=GNOME;GTK;Settings;X-GNOME-NetworkSettings;
NotShowIn=KDE;
X-Ubuntu-Gettext-Domain=nm-applet
