[Desktop Entry]
Name=BitTorrent Client
Name[ast]=Cliente BitTorrent
Name[be@latin]=Klijent BitTorrent
Name[bg]=BitTorrent клиент
Name[ca]=Client de BitTorrent
Name[cs]=BitTorrent klient
Name[da]=BitTorrent-klient
Name[de]=BitTorrent-Client
Name[el]=πελάτης BitTorrent
Name[en_AU]=BitTorrent Client
Name[en_CA]=BitTorrent Client
Name[en_GB]=BitTorrent Client
Name[eo]=BitTorrent-Kliento
Name[es]=Cliente de Torrent
Name[et]=BitTorrenti klient
Name[eu]=BitTorrent bezeroa
Name[fi]=BitTorrent-asiakas
Name[fo]=BitTorrent-viðskiftari
Name[fr]=Client Torrent
Name[gl]=Cliente de BitTorrent
Name[he]=תוכנת ביטורנט
Name[hr]=BitTorrent klijent
Name[hu]=Bittorrent kliens
Name[id]=Klien Torrent
Name[is]=Torrent flutningur
Name[it]=Client BitTorrent
Name[ja]=BitTorrent クライアント
Name[kk]=BitTorrent қолданбасы
Name[ku]=Daxwazkera BitTorrent
Name[li]=BitTorrent-client
Name[lt]=„BitTorrent“ klientas
Name[lv]=Torentklients
Name[mk]=клиент за BitTorrent
Name[nb]=BitTorrent-klient
Name[nl]=BitTorrent-client
Name[no]=Torrent-klient
Name[nn]=BitTorrent-klient
Name[pl]=Klient sieci BitTorrent
Name[pt]=Cliente BitTorrent
Name[pt_BR]=Cliente BitTTorrent
Name[ro]=Client BitTorrent
Name[ru]=Торрент-клиент
Name[sk]=klient siete BitTorrent
Name[sl]=BitTorrent odjemalec
Name[sq]=BitTorrent Klient
Name[sv]=BitTorrent-klienten
Name[tg]=Torrent Kliente
Name[th]=โปรแกรม BitTorrent
Name[tr]=BitTorrent İstemcisi
Name[uk]=BitTorrent клієнт
Name[vi]=Trình khách BitTorrent
Name[zh_CN]=BitTorrent 客户端
Name[zh_TW]=BitTorrent 用戶端
Comment=Download and share files over BitTorrent
Exec=transmission-gtk %U
Icon=transmission
Terminal=false
TryExec=transmission-gtk
Type=Application
MimeType=application/x-bittorrent;x-scheme-handler/magnet;
Categories=Network;FileTransfer;P2P;GTK;
X-Ubuntu-Gettext-Domain=transmission
X-AppInstall-Keywords=torrent
Actions=Pause;Minimize;

[Desktop Action Pause]
Name=Start BitTorrent Client with All Torrents Paused
Exec=transmission-gtk --paused

[Desktop Action Minimize]
Name=Start BitTorrent Client Minimized
Exec=transmission-gtk --minimized
